################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/CNED/BLOC2/SQ1/Fiche_Cshrp_Exercice15_remplacerLettre
/CNED/BLOC2/SQ1/Fiche_Cshrp_Exercice16_Trouver_Chaine
/CNED/BLOC2/SQ1/S1
/CNED/.vs
/.vs
*.zip
/CNED/BLOC2/SQ1/S2/Denombrements_correction/Denombrements
/CNED/BLOC2/SQ1/S3/TestNotationPolonaise/.vs/TestNotationPolonaise/v16
